<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page Template for Bootstrap</title>
    <%= stylesheet_link_tag "default.css" %>
    <%= stylesheet_link_tag "bootstrap.css" %>
    <%= stylesheet_link_tag "landing-page.css" %>
    <!-- Bootstrap core CSS -->
    <!-- <link href="http://startbootstrap.com/templates/landing-page/css/bootstrap.css" rel="stylesheet"> -->

    <!-- Custom Google Web Font -->
    <link href="http://startbootstrap.com/templates/landing-page/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <!-- <link href="http://startbootstrap.com/templates/landing-page/css/landing-page.css" rel="stylesheet"> -->

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CODE UNION</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <% if current_user %>
                    </li>
                    <li><%= link_to "Sign Out", signout_path %>
                    </li>
                    <li><%= link_to "Account", account_index_path %>
                    </li>
                        <% else %>
                        <%= link_to "Sign in with Github", "/auth/github" %>
                        <% end %>
                    </li>
                    <!-- <li><a href="#about">About</a>
                    </li>
                    -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Code Union</h1>
                        <h3>Measure How Solid Your Code Is</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Track Your Code in Real Time</h2>
                        <br>
                    <p class="lead">Code Union is a dashboard that provides your development team with a real-time feed from Github, Pivotal Tracker, Travis CI and Code Climate that lets you gauge quality of your code and the speed of your project</p>
</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= link_to image_tag("front_img/doge_small.png"), :class => "img-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Let Clients/Managers See What's Going On</h2>
                        <br>                    
                        <p class="lead">Unlike UI/UX projects, backend development lives in a cloud somewhere between a laptop, github and project management software like Pivtoal Tracker, Rally and Basecamp. Code Union gives your projects a home where progress is easily tracked in a public forum and wins are able to be celebrated by the team </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= link_to image_tag("front_img/ipad_small.png"), :class => "img-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Mobile Ready</h2>
                        <br>
                    <p class="lead">Code Union monitors your codes vital signs. Don’t wait, see it live on a business dashboard as it happens. Focus on what’s important and allow decsion makers to see progress being made in real time.<br><br>
                    Becasue we are mobile ready, you can check your progjects stats on the go.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= link_to image_tag("front_img/phones_small.png"), :class => "img-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <center><h2>WE LOVE YOUR CODE</h2></center>
                </div>
                <!-- <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div> -->
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Code Union 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="http://startbootstrap.com/templates/landing-page/js/jquery-1.10.2.js"></script>
    <script src="jhttp://startbootstrap.com/templates/landing-page/js/bootstrap.js"></script>

</body>

</html>
